# Pandas

### Series

In [2]:
import numpy as np
import pandas as pd
from pandas import Series

In [3]:
obj = Series([3,6,np.nan,9,12])
obj

0     3.0
1     6.0
2     NaN
3     9.0
4    12.0
dtype: float64

In [4]:
obj.values

array([  3.,   6.,  nan,   9.,  12.])

In [5]:
obj.index

RangeIndex(start=0, stop=5, step=1)

In [6]:
ww2_cas = Series([8700000, 4300000,3000000,2100000,400000], index=['USSR','Germany','China','Japan','USA'])
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [7]:
ww2_cas['USA']

400000

In [8]:
# check which countries had casualties greater than 4 mil.
ww2_cas[ww2_cas > 4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [9]:
'UK' in ww2_cas

False

In [10]:
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

In [11]:
ww2_series = Series(ww2_dict)
ww2_series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [12]:
countries = ['China','Germany','Japan','USA','USSR','Argentina']

## series from a dictionary

In [13]:
obj2 = Series(ww2_dict, index=countries)
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

### isnull()

In [14]:
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [15]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [16]:
ww2_series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [17]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [18]:
ww2_series + obj2 # lines then up in correct order

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64

## giving the series a name

In [19]:
obj2.name='WW2 casualties'
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: WW2 casualties, dtype: float64

In [20]:
obj2.index.name='Countries'
obj2

Countries
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: WW2 casualties, dtype: float64