# Index Objects

In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [2]:
my_ser = Series([1,2,3,4], index=['A','B','C','D'])
my_ser

A    1
B    2
C    3
D    4
dtype: int64

In [3]:
my_index = my_ser.index
my_index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [4]:
my_index[2]

'C'

In [5]:
my_index[2:]

Index(['C', 'D'], dtype='object')

In [6]:
#my_index[0] = 'Z'
# the previous operation gives errors because indexes are imutable

## Reindexing a Series

In [7]:
from numpy.random import randn

In [8]:
new_ser = my_ser.reindex(['A','B','C','D','E','F'])
new_ser

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [9]:
new_ser.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [10]:
ser1 = Series(['USA','Mexico','Canada'], index=[0,3,6])
ser1

0       USA
3    Mexico
6    Canada
dtype: object

In [11]:
ranger=range(9)
ser1.reindex(ranger)

0       USA
1       NaN
2       NaN
3    Mexico
4       NaN
5       NaN
6    Canada
7       NaN
8       NaN
dtype: object

In [12]:
ser1.reindex(ranger,method='ffill') # forward filling method

0       USA
1       USA
2       USA
3    Mexico
4    Mexico
5    Mexico
6    Canada
7    Canada
8    Canada
dtype: object

## Reindexing DataFrames

In [19]:
val=randn(5,5)
alpha=['A','B','D','E','F']
coln=['col1','col2','col3','col four','col5']
df = DataFrame(val,alpha,coln) # same as DataFrame(val,index=alpha,columns=coln)
df

       col1      col2      col3  col four      col5
A -0.934786 -1.338064 -1.146724 -0.536880 -0.841196
B -1.499768  0.615511 -0.423809 -0.058138  0.546893
D -0.143902 -2.105638 -0.551358  1.325185  0.387650
E  0.175751  0.280204  1.603345 -0.176357  0.446620
F -1.788124 -0.104184 -1.289514  0.213926  0.793740

In [14]:
df2=df.reindex([['A','B','C','D','E','F']]) # reindexing a row
df2

       col1      col2      col3      col4      col5
A -1.077544 -0.382799 -1.243312  1.349612 -0.213314
B -0.347564  0.116525 -1.240869 -0.620978 -0.456822
C       NaN       NaN       NaN       NaN       NaN
D -0.156252 -0.493302 -0.268158  0.835250  0.341891
E  2.342921  0.180270  1.002629  1.910357  0.884075
F -0.742997  0.492859 -0.212352  0.471479 -0.806894

In [37]:
coln2=['col1','col2','col3','col4','col5','col6'] # reindexing a column
df2.reindex(columns=coln2)

       col1      col2      col3      col4      col5  col6
A -1.077544 -0.382799 -1.243312  1.349612 -0.213314   NaN
B -0.347564  0.116525 -1.240869 -0.620978 -0.456822   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.156252 -0.493302 -0.268158  0.835250  0.341891   NaN
E  2.342921  0.180270  1.002629  1.910357  0.884075   NaN
F -0.742997  0.492859 -0.212352  0.471479 -0.806894   NaN

In [16]:
df.loc[['A','B','C','D','E','F'], coln2] # same as calling .ix

       col1      col2      col3      col4      col5  col6
A -1.077544 -0.382799 -1.243312  1.349612 -0.213314   NaN
B -0.347564  0.116525 -1.240869 -0.620978 -0.456822   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.156252 -0.493302 -0.268158  0.835250  0.341891   NaN
E  2.342921  0.180270  1.002629  1.910357  0.884075   NaN
F -0.742997  0.492859 -0.212352  0.471479 -0.806894   NaN

## Indexing

In [20]:
df.col1 # grabbing one-word colums. Same as df['col1']

A   -0.934786
B   -1.499768
D   -0.143902
E    0.175751
F   -1.788124
Name: col1, dtype: float64

In [21]:
df['col four'] # to grab columns that are more than one word

A   -0.536880
B   -0.058138
D    1.325185
E   -0.176357
F    0.213926
Name: col four, dtype: float64

In [22]:
df[0:2] # slicing rows

       col1      col2      col3  col four      col5
A -0.934786 -1.338064 -1.146724 -0.536880 -0.841196
B -1.499768  0.615511 -0.423809 -0.058138  0.546893

In [33]:
df[df['col5']>0] # indexing with logic

       col1      col2      col3  col four      col5
B -1.499768  0.615511 -0.423809 -0.058138  0.546893
D -0.143902 -2.105638 -0.551358  1.325185  0.387650
E  0.175751  0.280204  1.603345 -0.176357  0.446620
F -1.788124 -0.104184 -1.289514  0.213926  0.793740