# Drop - Entry

In [4]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [5]:
ser1 =Series(np.arange(3), index=['a','b','c'])
ser1

a    0
b    1
c    2
dtype: int32

In [6]:
ser1.drop('b')

a    0
c    2
dtype: int32

In [14]:
df1= DataFrame(np.arange(9).reshape((3,3)), index= ['SF',"LA",'NY'], columns = ['pop','size', 'year'])
df1

    pop  size  year
SF    0     1     2
LA    3     4     5
NY    6     7     8

In [17]:
df1.drop('LA', inplace=True)
df1
# dropping a row

    pop  size  year
SF    0     1     2
NY    6     7     8

In [18]:
df1.drop('year', axis=1) # dropping a column (axis 1)

    pop  size
SF    0     1
NY    6     7