In [2]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

### Reading table data using the `read_table()` method.
#### We need to specify the separator in the `sep` field
Here the file we are dealing with is a __Comma Separated File (C.S.V.)__ so the separator is: __,__

In [6]:
pd.read_table('iris.csv',sep=',').head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

### We can specify how many rows we want to have

In [10]:
pd.read_table('iris.csv',sep=',',nrows=3)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

### CSV files can be read by `.read_csv()` method too

In [11]:
pd.read_csv('iris.csv').head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [12]:
df=pd.read_csv('iris.csv')

In [31]:
df.groupby('species').median()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa               5.0          3.4          1.50          0.2
versicolor           5.9          2.8          4.35          1.3
virginica            6.5          3.0          5.55          2.0

In [98]:
df[['sepal_width','petal_length']].corr()

              sepal_width  petal_length
sepal_width       1.00000      -0.42844
petal_length     -0.42844       1.00000

In [99]:
import sys

In [109]:
df.head().to_csv('iris_small.csv',columns=['sepal_length','species'])

In [111]:
pd.read_csv('iris_small.csv')

   Unnamed: 0  sepal_length species
0           0           5.1  setosa
1           1           4.9  setosa
2           2           4.7  setosa
3           3           4.6  setosa
4           4           5.0  setosa