# Getting data from html files

In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
from pandas import read_html

In [3]:
url = 'http://www.fdic.gov/bank/individual/failed/banklist.html'

## You need `beautifulSoup`, `html5lib` and `lxml` installed on your system

In [4]:
import bs4 as bs
import html5lib

In [5]:
df = pd.io.html.read_html(url)

In [6]:
dfr= df[0]
dfr.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb","May 26, 2017","July 26, 2017"
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,"May 5, 2017","July 26, 2017"
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,"April 28, 2017","July 26, 2017"
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,"March 3, 2017","May 18, 2017"
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,"January 27, 2017","May 18, 2017"

In [7]:
dfr.columns

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')

Doing random things with data

In [10]:
dfr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 553 entries, 0 to 552
Data columns (total 7 columns):
Bank Name                553 non-null object
City                     553 non-null object
ST                       553 non-null object
CERT                     553 non-null int64
Acquiring Institution    553 non-null object
Closing Date             553 non-null object
Updated Date             553 non-null object
dtypes: int64(1), object(6)
memory usage: 17.3+ KB

In [8]:
dfr['ST'].value_counts().head(10)

GA    93
FL    75
IL    68
CA    41
MN    23
WA    19
AZ    16
MO    16
MI    14
NV    12
Name: ST, dtype: int64

In [15]:
dfr.groupby('ST')